* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poopins, Montserrat;
}
body {
  margin-top: 50px;
}

:root {
  --primary-color: rgb(11, 120, 138);
  --secondary-color: #ed863b;
  --third-color: #ffffff;
  --forth-color: rgb(110, 110, 110);
  --last-color: rgb(0, 0, 0);
}

.container-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h6 {
  font-family: Montserrat, sans-serif;
  color: var(--primary-color);
  font-weight: 700;
  line-height: 18px;
  font-size: 12px;
  text-align: center;
}
h1 {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  line-height: 47px;
  font-size: 36px;
  color: var(--last-color);
  text-align: center;
}
p {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
  color: var(--forth-color);
  padding-top: 16px;
}

a {
  text-decoration: none;
  color: black;
}

.left-card {
  height: 643px;
  width: 635px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}

.cards-div {
  display: flex;
  margin-top: 45px;
  gap: 55px;
}
.big-img {
  height: 291px;
  width: 603px;
  border-radius: 26px;
}

.img-div {
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 12px;
  cursor: pointer;
}

.card-span {
  color: var(--primary-color);
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.card-h3 {
  font-family: Montserrat, sans-serif;
  color: var(--last-color);
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  padding-top: 5px;
}
hr {
  background-color: #c8c8c8;
}
.card-p {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--forth-color);
  line-height: 24px;
  padding-top: 20px;
}
.info-div {
  padding: 24px;
}

hr {
  margin-top: 40px;
  border: 1px solid #e4e4e4;
}
button {
  background-color: var(--secondary-color);
  color: var(--third-color);
  height: 43px;
  width: 165px;
  border-radius: 6px;
  border: none;
  margin-top: 35px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  transition-duration: 0.3s;
}

button:hover {
  transform: scale(1.1);
}

.first-card {
  display: flex;
  height: 200px;
  width: 635px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}
.card-margin {
  margin-top: 18px;
}

.img-container {
  padding: 20px;
}
.small-img {
  height: 99px;
  width: 205px;
  border-radius: 12px;
  cursor: pointer;
}
img:hover {
  opacity: 0.7;
  transition-duration: 0.5s;
}
.small-img-content {
  padding-top: 24px;
}
.small-img-span {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  color: var(--primary-color);
  line-height: 20px;
  font-weight: 600;
  cursor: pointer;
}
.small-img-h4 {
  font-family: Montserrat, sans-serif;
  color: var(--last-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  padding-top: 5px;
  cursor: pointer;
}
.small-img-p {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--forth-color);
  cursor: pointer;
  padding-top: 6px;
}

.span-div {
  display: inline-block;
  height: 20px;
  overflow: hidden;
}

.span-div a .small-img-span {
  transition: color 0.3s ease;
  transform-origin: center;
}

.span-div a:hover span {
  font-size: 12px;
  transform: scale(0.9);
}

.small-img-span .left-card:hover {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}

.second-sec {
  padding-top: 100px;
}
.headings {
  text-align: center;
}

.sec-2-cards {
  height: 635px;
  width: 400px;
}
.second-card-img {
  height: 266px;
  width: 400px;
  border: none;
  border-radius: 20px 20px 0px 0px;
}

.cards-box {
  display: flex;
  gap: 55px;
  margin-top: 50px;
  justify-content: center;
  position: relative;
}

.cards-img-div {
  padding-top: 0px;
}

.book-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 90px;
  width: 400px;
  padding-top: 32px;
}

.price-sec {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--forth-color);
}

.in-rupees {
  font-family: Montserrat, sans-serif;
  font-size: 26px;
  font-weight: 600;
  color: var(--primary-color);
  line-height: 36px;
}

.cards-div-btn {
  height: 43px;
  width: 113px;
  margin-right: 55px;
  margin-top: 15px;
  background-color: rgb(237, 134, 59);
}

.three-card-p {
  padding-top: 24px;

  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--forth-color);
}
.three-cards-hr {
  margin-top: 24px;
  border: 1px solid #e4e4e4;
}

.widget-div {
  background-color: var(--primary-color);
  color: var(--third-color);
  padding-left: 12px;
  height: 27px;
  padding: 3px 15px 3px 16px;
  border-radius: 14px;
  width: 146px;
  position: relative;
  z-index: 2;
  right: -58%;
  top: -39%;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.hours {
  padding-left: 6px;
}

.hour {
  padding-left: 6px;
}
.small-div {
  width: 108px;
  height: 27px;
  right: -275px;
  padding-right: 3px;
  cursor: pointer;
}

.info-div {
  padding-top: 0px;
}
.fa-regular {
  color: var(--third-color);
}

span:hover {
  font-size: 14px;
}

.sec-three {
  height: 781px;
  background-color: rgb(247, 244, 234);
  display: flex;
  justify-content: center;
  margin-top: 100px;
  align-items: center;
}

.why {
  font-family: Montserrat, sans-serif;
  color: var(--primary-color);
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
}
.your {
  font-family: Montserrat, sans-serif;
  color: var(--last-color);
  font-weight: 700;
  line-height: 47px;
  font-size: 36px;
}
.discover {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--last-color);
  line-height: 24px;
}

.icons-se {
  display: flex;
  flex-direction: row;
  gap: 60px;
  padding-top: 20px;
}

.right-side-card {
  padding-top: 38px;
}

.squared-img {
  height: 501px;
  width: 645px;
}

.square-img {
  height: 501px;
  width: 610px;
}

.square-img:hover {
  opacity: 2;
}

.all-containers {
  display: flex;
  gap: 80px;
}

.icon-box-heading {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  line-height: 28px;
  color: var(--last-color);
  font-size: 20px;
}
.icon-box-heading:hover {
  font-size: 20px;
}

.icon-card-small-info {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: var(--forth-color);
  line-height: 24px;
  font-size: 16px;
  padding-top: 8px;
}

.first-icon-card,
.second-3-icons-card {
  position: relative;
  padding-top: 20px;
}

.last-svg-icon {
  font-family: Poppins, sans-serif;
  font-size: 32px;
  line-height: 32px;
  color: rgb(0, 173, 169);
  font-weight: 400;
  position: absolute;
  left: -5px;
}
.icon-box-heading,
.h-info {
  padding-left: 40px;
}

.about:hover {
  transform: translate(0);
}

a:hover .card-span {
  font-size: 12px;
}
.card-span {
  font-size: 16px;
  height: 18px;
  display: inline-block;
}

a:hover .card-span {
  font-size: 12px;
}
